/* text-transform: uppercase; */
 .pure-menu .pure-menu-heading {
    text-transform: none
}
.pure-menu.pure-menu-horizontal .pure-menu-heading {
    float: left
}
/*menu collapse*/
 .pure-menu.pure-menu-horizontal > ul {
    height: auto
}
.pure-menu {
    font-size: 16px
}
.pure-menu.pure-menu-horizontal > ul.collapse {
    display: none
}
.pure-menu.pure-menu-horizontal > ul.collapse.in {
    display: block;
    clear: both;
    float: right;
    background: #2D3E50;
    margin-top: 15px
}
.pure-menu-horizontal li {
    display: block
}
.home-menu li a:hover, .home-menu li a:focus {
    background: #91B5DB;
    color: white
}
.home-menu {
    padding: 0;
    height: 40px
}
.collapse-toggle {
    position: relative;
    float: right;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}
.collapse-toggle .fa {
    font-size: 120%;
    color: white
}

@media (min-width: 768px){
    .collapse-toggle{
        display: none!important;
    }

    .pure-menu.pure-menu-horizontal > ul.collapse {
        display: block;
    }

    .pure-menu-horizontal li {
        display: inline-block; 
    }

    .home-menu li a:hover, .home-menu li a:focus {
        background: none;
        color: white
    }

    .pure-menu.pure-menu-horizontal > ul.collapse.in {
        clear: none;
        margin-top: 0px;
    }
}
